dist: xenial
language: python
python:
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install -r travis-requirements.txt
script:
  - coverage run setup.py test
  - coverage run -a setup.py test --test-suite tests.with_net
after_script: codecov
