[base]
; A Storm database URI. See the 'schema' folder for schema creation scripts
; database_uri = sqlite:////var/supysonic/supysonic.db
; database_uri = mysql://supysonic:supysonic@localhost/supysonic
; database_uri = postgres://supysonic:supysonic@localhost/supysonic

; Optional, restrict scanner to these extensions
; scanner_extensions = mp3 ogg

; Optional for develop, key for sign the session cookies
; secret_key = verydifficultkeyword

[webapp]
; Optional cache directory
cache_dir = /var/supysonic/cache

; Optional rotating log file
log_file = /var/supysonic/supysonic.log

; Log level. Possible values: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = WARNING

[daemon]
; Optional rotating log file for the scanner daemon
log_file = /var/supysonic/supysonic-daemon.log
log_level = INFO

[lastfm]
; API and secret key to enable scrobbling. http://www.last.fm/api/accounts
; api_key =
; secret =

[transcoding]
; Programs used to convert from one format/bitrate to another.
transcoder_mp3_mp3 = lame --quiet --mp3input -b %outrate %srcpath -
transcoder = ffmpeg -i %srcpath -ab %outratek -v 0 -f %outfmt -
decoder_mp3 = mpg123 --quiet -w - %srcpath
decoder_ogg = oggdec -o %srcpath
decoder_flac = flac -d -c -s %srcpath
encoder_mp3 = lame --quiet -b %outrate - -
encoder_ogg = oggenc2 -q -M %outrate -

[mimetypes]
; extension to mimetype mappings in case your system has some trouble guessing
; mp3 = audio/mpeg
; ogg = audio/vorbis

