[base]
; SQLite database store in /var/supysonic. Database and tables must be created prior use.
; See ths 'schema' folder for schema creation scripts
database_uri = sqlite:////var/supysonic/supysonic.db
; Other database options. They all use 'supysonic' as the user, password, and database name
; database_uri = mysql://supysonic:supysonic@localhost/supyonic
; database_uri = postgres://supysonic:supysonic@localhost/supysonic

; Optional, restrict scanner to these extensions
; scanner_extensions = mp3 ogg

[webapp]
; Optional cache directory
cache_dir = /var/supysonic/cache

; Optional rotating log file
log_file = /var/supysonic/supysonic.log

; Log level. Possible values: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = WARNING

[daemon]
; Optional rotating log file for the scanner daemon
log_file = /var/supysonic/supysonic-daemon.log
log_level = INFO

[lastfm]
; API and secret key to enable scrobbling. http://www.last.fm/api/accounts
; api_key = 
; secret = 

[transcoding]
; Programs used to convert from one format/bitrate to another.
; See https://github.com/spl0k/supysonic/wiki/Transcoding

[mimetypes]
; extension to mimetype mappings in case your system has some trouble guessing
; mp3 = audio/mpeg
; ogg = audio/vorbis

