[Unit]
Description=Supysonic Daemon

[Service]
User=supysonic
Group=supysonic
WorkingDirectory=/home/supysonic
ExecStart=/usr/bin/env python -m supysonic.daemon

[Install]
WantedBy=multi-user.target
