{% extends "layout.html" %}
{% block body %}
<h2>Users</h2>
<table>
	<tr><th>Name</th><th>EMail</th></tr>
	{% for user in users %}
		<tr><td>{{ user.name }}</td><td>{{ user.mail }}</td></tr>
	{% endfor %}
</table>
<a href="{{ url_for('add_user') }}">Add</a>

<h2>Music folders</h2>
<table>
	<tr><th>Name</th><th>Path</th></tr>
	{% for folder in folders %}
		<tr><td>{{ folder.name }}</td><td>{{ folder.path }}</td></tr>
	{% endfor %}
</table>
<a href="{{ url_for('add_folder') }}">Add</a>
{% endblock %}
