{% extends "layout.html" %}
{% block body %}
{% if admin %}
<p><a href="{{ url_for('user_index') }}">Users</a> | <a href="{{ url_for('folder_index') }}">Folders</a></p>
{% endif %}

<h2>Hi!</h2>
<p>There's nothing much to see here.</p>
<p>
	If you want to listen to some music, you'll have to use one of the available clients. See the <a href="http://www.subsonic.org/pages/apps.jsp">Subsonic website</a>
	for a list of compatible clients.<br />
	For now, this server has been tested on <em>MiniSub</em> and <em>Perisonic</em>.
</p>

<h2>Stats</h2>
<ul>
	<li>{{ stats.artists }} artists</li>
	<li>{{ stats.albums }} albums</li>
	<li>{{ stats.tracks }} tracks</li>
</ul>
{% endblock %}
