<!DOCTYPE html>
<title>Supysonic</title>
<style>
	.flash {
		border: dashed 1px red;
		padding: 2px;
		margin: 10px;
	}
	.flash p {
		margin: 0;
		padding: 0;
	}
</style>
<div class="page">
	<h1>Supysonic</h1>

	<p><a href="{{ url_for('index') }}">Home</a> |
	{% if session.userid %}<a href="{{ url_for('playlist_index') }}">Playlists</a> | <a href="{{ url_for('user_profile') }}">{{ session.username }}</a> - <a href="{{ url_for('logout') }}">Log out</a>
	{% else %}<a href="{{ url_for('login') }}">Log in</a>
	{% endif %}</p>

	{% if get_flashed_messages() %}
	<div class="flash">
		{% for message in get_flashed_messages() %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
	{% block body %}{% endblock %}
</div>

