{% extends "layout.html" %}
{% block body %}
<h2>Playlist "{{ playlist.name }}"</h2>
{% if playlist.user_id|str == session.get('userid') %}
<h3>Edit</h3>
<form method="post">
<table>
	<tr><th>Name</th><th>Public</th><th></th></tr>
	<tr>
		<td><input type="text" name="name" value="{{ playlist.name }}" /></td>
		<td><input type="checkbox" name="public" {% if playlist.public %}checked="true"{% endif %} /></td>
		<td><input type="submit" /></td>
	</tr>
</table>
</form>
{% endif %}
<h3>Tracks</h3>
<table>
	<tr><th>Artist</th><th>Title</th><th>Album</th><th>Length</th></tr>
	{% for t in playlist.tracks %}
	<tr><td>{{ t.album.artist.name }}</td><td>{{ t.title }}</td><td>{{ t.album.name }}</td><td>{{ t.duration_str() }}</td></tr>
	{% endfor %}
</table>
{% endblock %}

